#rSliderData .slider-handle {
  background: red;
}
#rSliderData .slider-selection {
  background: red;
}
#gSliderData .slider-handle {
  background: green;
}
#gSliderData .slider-selection {
  background: green;
}
#bSliderData .slider-handle {
  background: blue;
}
#bSliderData .slider-selection {
  background: blue;
}

.rng {
  width: 100%;
  height: 50px;
}
